*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}
/* HEADER */
header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    background-color: black;
    z-index: 999;
}

header ul{
    display: flex;
    list-style: none;
    padding: 15px;
}

header ul li{
    background-color: gray;
    color: white;
    padding: 5px;
    text-align: center;
    padding: 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

header ul li:hover{
    cursor: pointer;
}

/* MAIN */
main{
    padding: 80px 20px 100px 20px;
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.slot-cam{
    position: relative;
    padding: 5px;
}
.slot-cam img{
    width: 250px;
    height: 180px;
    background-size: cover;
}

.user{
    position: absolute;
    left: 20px;
    bottom: 9px;
    background-color: rgba(46, 47, 42, .8);
    color: white;
}

